.films-page {
  max-width: 800px;
  padding: 1rem;
  margin: 0 auto;
}

.film-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.film-details .left-section .header {
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
}

.film-details .left-section .film-description {
  max-width: 500px;
}



.characters-section {
  min-width: 300px;
  margin: 0.5rem 0px;
}

.characters-section .character-header {
  font-weight: 600;
  font-size: 1.35rem;
  text-transform: uppercase;
}

.characters-section .card-container {
  width: 14rem;
  position: relative;
  min-height: 200px;
  max-width: 40rem;
  margin: 5px;
  padding: 20px;
  border-radius: 5px;
  background-color: #282727;
  color: white;
}

@media screen and (max-width: 1000px) {
  .characters-section {
    width: 50%;
  }
  .film-details .left-section {
    width: 60%;
    margin: 1rem 0px;
  }
  .film-details .right-section {
    width: 40%;
    margin: 1rem 0px;
  }
  .film-details {
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 650px) {
  .characters-section {
    width: 100%;
  }
  .film-details .left-section {
    width: 60%;
    margin: 1rem 0px;
  }
  .film-details .right-section {
    width: 40%;
    margin: 1rem 0px;
  }
}
