.navbar {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.navbar .image-area {
  padding: 1rem;
}

.navigation-area {
  color: white;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 900px;
}

.navigation-area .nav-link {
  list-style: none;
  padding: 1rem 0px;
  display: flex;
  width: inherit;
  justify-content: center;
  align-items: center;
}

.link-list-item{
  text-decoration: none;
  color: #fff;
}

.search-component{
  width: 95%;
  margin: 0px;
  display: flex;
  justify-content: center;
}
.header-section-wrapper-top-main-md{
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: row-reverse;
}

.wrapper-dropdown-wrapper{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
}

.btn-link {
  display: none;
}

.btn-custom-style{
  width: initial;
  height: inherit;
  padding: .779rem;
  border: none;
  font-weight: bold;
  font-size: 1rem;
}
.search-component-input{
  padding: .874rem;
  width: inherit;
  border: none;
}
.search-label-wrapper-contain{
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  width: inherit;
  max-width: 900px;
}

.octicon-three-bars{
  fill: #fff;
}





@media screen and (max-width: 1000px) {
  .navigation-area {
    color: white;
    min-height: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .navbar .image-area {
    padding: 1rem;
    width: 5rem;
  }

  .starwars-logo{
    width: inherit;
  }
  .header-section-wrapper-top-main-md{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: row-reverse;
  }

  .btn-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-size: inherit;
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    margin: 1rem;
    background-color: initial;
    border: 0;
    appearance: none;
    -moz-appearance: none;
  }
}

@media screen and (max-width: 650px) {
  .navigation-area {
    color: white;
    min-height: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .header-section-wrapper-top-main-md{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: row-reverse;
  }

  .navbar .image-area {
    padding: 1rem;
    width: 5rem;
  }

  .starwars-logo{
    width: inherit;
  }
  .btn-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-size: inherit;
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    margin: 1rem;
    background-color: initial;
    border: 0;
    appearance: none;
    -moz-appearance: none;
  }
}